.navbar {
  display: flex;
  padding: 10px;
  background-color: var(--purewhite);
  justify-content: space-between;
  flex-direction: row;
}
.search {
  flex: 1; /* Para que el elemento de búsqueda ocupe el espacio restante */
}

.icons {
  display: flex;
}

.icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.inputSearch {
  height: 42px;
  width: 282px;
}

.floatingModule {
  display: flex;
  width: 250px;
  height: 200px;
  border-radius: 8px;
  background-color: var(--purewhite);
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.imageInside {
  margin: 40px 10px 50px 10px;
}