.navbar {
  display: flex;
  padding: 10px;
  background-color: var(--purewhite);
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.search {
  flex: 1;
}

.icons {
  display: flex;
}

.icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.inputSearch {
  height: 42px;
  width: 282px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.hover {
  width: 115px;
  border-radius: 4px;
}
.hover:hover {
  background-color: var(--200);
}

.imageInside {
  margin: 0 5px 0 5px;
  max-width: 30px;
  max-height: 30px;
}

.profilePicture {
  margin: 0 5px 0 5px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.picturePosition {
  margin-left: 55px;
}

.button {
  display: flex;
  background-color: transparent;
  border: none
}

.ul {
  list-style-type: none;
  padding-left: 0;
}

.avatarButton {
  margin: 0%;
  padding: 0%;
  border: none;
  height: 0;
}