html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  tab-size: 4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--gray);
}

:root {
  --primary: #624BFF;
  --secondary: #6C757D;
  --success: #198754;
  --danger: #DC3545;
  --warning: #FFC107;
  --info: #0DCAF0;
  --light: #F8F9FA;
  --dark: #212529;
  --purewhite: #FFFFFF;
  --gray: #F5F6F8;
  --100: #f8f9fa;
  --200: #e9ecef;
  --300: #dee2e6;
  --400: #ced4da;
  --500: #adb5bd;
  --600: #6c757d;
  --700: #495057;
  --800: #343a40;
  --900: #212529;
  --black: #000;

}