.main {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.bookingDescription {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
